{% extends 'company templates/base.html' %}
{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        {% if user %}
        {% if comp %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-info-circle me-1"></i>
                Company Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="{{ comp.logo_pic.url }}" alt="Company Logo" class="img-fluid mb-3" style="max-width: 200px;">
                    </div>
                    <div class="col-md-8">
                        <h3>Company Name: {{ comp.company_name }}</h3>
                        <p><strong>Description:</strong>{{ comp.description}}</p>
                        <p><strong>Contact:</strong> {{ comp.contact }}</p>
                        <p><strong>Address:</strong>{{ comp.address }} </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</main>

{% endblock %}
