{% extends 'registration.html' %}
{% block content1 %}
<h2>VERIFY OTP</h2>
{% endblock %}
{% block content %}
<form action="{% url 'verify_otp' %}" method="POST">
    {% csrf_token %}
    <div class="input-box">
        <input type="email" name="email" value="{{ email }}" readonly>
    </div>
    <div class="input-box">
        <input type="text" name="otp" placeholder="Enter OTP" required>
    </div>
    <div class="input-box">
        <input type="password" name="password" placeholder="New Password" required>
    </div>
    <div class="input-box">
        <input type="password" name="cpassword" placeholder="Confirm Password" required>
    </div>
    <div class="input-box button">
        <input type="submit" value="Verify OTP">
    </div>
</form>
{% endblock %}